<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	<!-- Root 컨텍스트 지정해주기 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/database.xml
		</param-value>
	</context-param>
	
	<!-- 서블릿 컨텍스트 지정해주기 -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>   <!-- 서블릿 명 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- 서블릿 클래스 주소 -->
		<init-param> <!-- 서블릿 사용 시, 초기 파라미터를 설정할 수 있다. -->
			<param-name>contextConfigLocation</param-name>  <!-- 파라미터 이름 -->
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value> <!-- 파라미터 값 -->
			<!-- 디스패쳐서블릿에서 사용할 Bean설정파일을 적어주면 된다. 위 주소는 일반적으로 사용하는 경로.-->
		</init-param>
	</servlet>
	<servlet-mapping>  <!-- 위 서블릿에 대한 메핑 -->
		<servlet-name>dispatcherServlet</servlet-name> <!--매핑하고자 하는 서블릿 명  -->
		<url-pattern>/</url-pattern>   <!-- '/'모든 요청에대해 위 서블릿을 통과하도록 하기. -->
	</servlet-mapping>

</web-app>